ul li a {
  color: #000;
  margin: 10px;
 }

 ul li a:hover {
  color: #00a8ff;
 }

 ul li a.active {
  color: #1900ff;
 }

 .tutor-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
 }